<div style="height: 100%;" fxLayout="column" fxLayoutGap="10px;">
    <mat-toolbar color="primary" class="mat-elevation-z1" style="min-height: 40px !important; height: 30px !important;">
        <mat-toolbar-row fxLayout="row" style="min-height: 40px !important; height: 30px !important;">
            <img src="../../assets/logo.svg">
            <span fxFlex="1 1 auto"></span>
            <span fxHide fxShow.gt-sm>
                <button mat-button>
                    Home
                </button>
                <button mat-button>
                    About
                </button>
                <button mat-button>
                    Services
                </button>
                <button mat-button>
                    Experiences
                </button>
                <button mat-button>
                    Skills
                </button>
                <button mat-button>
                    Portfolio
                </button>
                <button mat-button>
                    Testimonials
                </button>
                <button mat-button>
                    Contact
                </button>
            </span>
            <button fxHide fxShow.lt-md mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                    <button mat-menu-item>Home</button>
                    <button mat-menu-item>About</button>
                    <button mat-menu-item>Services</button>
                    <button mat-menu-item>Experiences</button>
                    <button mat-menu-item>Skills</button>
                    <button mat-menu-item>Portfolio</button>
                    <button mat-menu-item>Testimonials</button>
                    <button mat-menu-item>Contact</button>
                </ng-template>
              </mat-menu>
        </mat-toolbar-row>

    </mat-toolbar>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">

      <!-- Banner -->
      <div style="width: 100%; background-color: grey;aspect-ratio: 20/4;"></div>

      <!-- About -->
      <div></div>

      <!-- Services-->
      <div></div>

      <!--Experiences-->
      <div></div>

      <!-- Skills-->
      <div></div>

      <!-- Portfolio-->
      <div fxLayout.xs="column" fxLayoutGap="20px" fxLayout.gt-xs="row-wrap">
        <app-project-card *ngFor="let project of projects" [data]='project'></app-project-card>
      </div>
      <div></div>

      <!-- Testimonials-->
      <div></div>

      <!-- Contact -->
      <div></div>
      <!-- Projects -->

    </div>

</div>
