<div style="height: 100%;" fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <img src="../../assets/logo.svg">
            <span fxFlex="1 1 auto"></span>
            <span>
                <button mat-flat-button color="primary">
                    Home
                </button>
                <button mat-flat-button color="primary">
                    About
                </button>
                <button mat-flat-button color="primary">
                    Services
                </button>
                <button mat-flat-button color="primary">
                    Experiences
                </button>
                <button mat-flat-button color="primary">
                    Skills
                </button>
                <button mat-flat-button color="primary">
                    Portfolio
                </button>
                <button mat-flat-button color="primary">
                    Testimonials
                </button>
                <button mat-flat-button color="primary">
                    Contact
                </button>
            </span>
        </mat-toolbar-row>
        
    </mat-toolbar>
    <div fxFlex="1 1 auto" fxLayoutAlign="center center">
        Site under construction
    </div>
</div>

Home, About, Services, Experiences, Skills, Portfolio, Testimonials, Contact